.container{
    width: 100%;
    min-height: 100vh;
    background: #cd5c5c;
}

.container h1{
    color: #4b0082;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}

.container h2{
    color: white;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}

.price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 25px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
}
.price-col{
    background: #90ee90;
    padding: 10% 15%;
    border-radius: 10px;
    color: blue;
    text-align: center;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
}
.price-col p{
    font-size: 22px;
}
.price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col h3 span{
    font-size: 15px;

}

.price-col ul{
    text-align: left;
    margin: 200px 0;
    color: brown;
    list-style: none;
}
.price-col ul li{
    margin: 15px 0;
}

.price-col ul li::before{
    content: '\2022';
    color: rgb(5, 5, 36);
    font-weight: bold;
    margin-right: 8px;

}

.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: blue;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    transition: background 0.5s;
}

.price-col button:hover{
    background: #e33058;

}